body {
  width: auto;
}
body > div {
  margin-top: 20px;
}

#body {
  padding: 0 10px;
}
#body .title {
  margin-left: 0;
  font-size: 45px;
}
#body .skillSet ul li {
  height: auto;
}
#body .skillSet ul li span {
  display: block;
  margin: 0 10px 5px 0;
}
#body .skillSet ul li i {
  display: inline-block;
  margin: 10px 8px 0 0;
  padding: 5px 10px;
  font-size: 15px;
}
#body .skillSet ul li i + i {
  margin-left: 0;
}
#body .skillSet ul li:last-child {
  margin-top: 30px;
}
#body .experience > ul li .exp_name {
  font-size: 16px;
}
#body .experience > ul li .exp_term {
  padding-left: 0;
  font-size: 15px;
}
#body .experience > ul li .exp_term::before {
  content: ": ";
}